.chartbox-root {
  position: relative;
  width: 600px;
  height: 340px;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #fff;

  @media (max-width: 620px) {
    width: 500px;
  }

  &-chart {
    position: absolute;
    top: -40px;
    width: 500px;
    height: 300px;
    padding: 20px 10px;
    border-radius: 10px;
    color: #fff;

    @media (max-width: 620px) {
      width: 400px;
    }

    &-blue {
      background: linear-gradient(to top right, #1e77e9, #459ff0);
    }

    &-green {
      background: linear-gradient(to top right, #43a047, #65bb69);
    }
  }

  &-info {
    text-align: center;
    h3 {
      color: #344767;
    }
    span {
      font-weight: lighter;
      color: #344767a0;
    }
  }
}
