.footer-root {
  width: 100%;
  margin-top: 20px;
  height: 5vh;
  padding: 15px;

  * {
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(123, 128, 154);
    font-weight: 400;
  }
}
