.sidebar {
  position: sticky;
  top: 1em;
  z-index: 998;
  width: 250px;
  height: 95vh;
  background: linear-gradient(#404048, #1c1c1c);
  border-radius: 12px;
  padding: 10px;
  transition: transform 1s;

  @media (max-width: 1400px) {
    position: fixed;
  }

  &-close {
    transform: translate(-150%, 0);
  }

  &__header {
    width: 100%;
    height: 10%;
    text-align: center;

    h4 {
      cursor: pointer;
      margin: 20px 0;
      color: #fff;
    }
  }

  &__body {
    width: 100%;
    height: 90%;
    padding: 10px 5px;
    gap: 4px;

    &_element {
      cursor: pointer;
      width: 100%;
      height: 8%;
      border-radius: 8px;
      color: #fff;

      &:hover {
        background-color: #ffffff6f;
      }

      &-active {
        background: linear-gradient(to right, #257feb, #3f98ef);
      }
    }
  }
}
